.form{
    height: 110px;
    width: 100%;
    display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	justify-content: flex-start;
	align-items: center;
	align-content: center;
    margin-top: 20px;
}
#buttons{
    margin-top: 5px;
    button{
        margin: 5px;
        background-color: cadetblue;
    }
}


#result{
    margin-top: 5px;
    background-color: #b4c1c4;
    width: 20%;
    height: 20px;
    border: 1px solid gray
  }
  