.help{
    height:411px;
    margin-left:auto;
    margin-right:auto;
    display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	justify-content: space-around;
	align-items: center;
	align-content: stretch;
    margin-bottom: 66px;
}