#App-result{
    background: linear-gradient(to bottom, #bdcff1 0%, #eb7cc6 100%);
    border: 1px solid gray;
    margin: auto;
 width:70%;
 margin-bottom: 10px;
 margin-top: -250px;
 padding: 20px;
 

}